<%- include('partials/header') %>
<div id="load">
</div>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"><%= head %>,Welcome to Secrets!</h1>
    <br>
    <div class="row">
    <%found.forEach(function(user){%>
            <div class="col-lg-4 cols">
              <div class="secret-texts" style="background-image: url(https://picsum.photos/id/<%=user.img%>/200/300);">
                <p>"<%= user.content %>"</p>
                <p>- <%= user.name %> </p>
              </div>
            </div>
    <%})%>
  </div>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<script>
  function loader(){
    document.getElementById("load").style.display="none";
  }
</script>
<%- include('partials/footer') %>


